body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
  color: white;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #1e1e1e;
  color: white;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
ion-content {
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
ion-button {
  --shape: round;
  --background: #424242;
  --color: #ffffff;
  --background-activated: rgba(255, 255, 255, 0.27);
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
  transition: color 0.3s, text-decoration 0.3s;
  font-size: 18px;
}
ion-col {
  height: 75px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

h1 {
  text-align: right;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #333333;
  font-size: 50px;
}

@media screen and (min-width: 768px) {
  #container {
    left: 33%;
    right: 33%;
    border: 2px solid dodgerblue;
  }
}
